{% extends "layout.njk" %}

{% block content %}
<main>
    <body>
        <div class="topbar">
            <h1>Burgrik, en klassiker</h1>
        </div>
        <div class="shadow">-</div>

        <div class="center">
            <div class="container2">
                <div class="items"><img src="/img/burgrik.jpg" alt="burg" width="200vh"></div>
                <div class="items" style="padding: 4%;"><p>Detta är en favorit i repris. Henrik äter en burgare på MAX, och en bild tas för att fira denna stund. Det var så "Burgrik" föddes.</p></div>
                <div class="ItemShadow">-</div>
                <div class="ItemShadow">-</div>
            </div>
        </div>
    </body>
</main>
{% endblock %}