{% extends "layout.njk" %}

{% block content %}
<main>
    <head>
        <link rel="stylesheet" href="/css/style.css" id="mode">
        <link rel="stylesheetalt" href="/css/altStyle.css">
    </head>
    <body>
        <div class="topbar">
            <h1>Telefon dunken <img src="/img/channels4_profile.jpg" alt="enrico" id="button" width="50vh"></h1>
        </div>
        <div class="shadow">-</div>

        <div class="center">
            <p style="font-size: medium;" id="toggled">Its_Henrico mode on</p>
            <script>
                var henricoMode = true
                document.getElementById("button").addEventListener("click", toggleMode);
                function toggleMode() {
                    if (henricoMode == true) {
                        document.getElementById("mode").href = "/css/altStyle.css";
                        document.getElementById("toggled").textContent = "Its_Henrico mode off"
                        henricoMode = false;
                    }
                    else {
                        document.getElementById("mode").href = "/css/style.css";
                        document.getElementById("toggled").textContent = "Its_Henrico mode on"
                        henricoMode = true;
                    }
                }
                </script>
            <div class="container2">
                <div class="items"><img src="/img/HermanJamesTelefon.png" alt="Erman" width="200vh"></div>
                <div class="items" style="padding: 4%; font-size: 80%;"><p>Dagen då vi skulle se Alien: Romulus på bio, så råkade jag, Herman, dunka min telefon med en basketboll när vi spelade. Tyvärr fanns det ingen bild av det så vi nöjer oss med den här ersättnings bilden istället.</p></div>
                <div class="ItemShadow">-</div>
                <div class="ItemShadow">-</div>
            </div>
        </div>
    </body>
</main>
{% endblock %}