{% block content %}
<main>
    <head>
    <link rel="stylesheet" href="/css/style.css" id="mode">
    <link rel="stylesheetalt" href="/css/altStyle.css">
    </head>
  <body>
      <div class="topbar" id="item4">
          <h1>Dessa fina minnen <img src="/img/channels4_profile.jpg" alt="enrico" id="button" width="50vh"></h1>
      </div>
      <div class="shadow">-</div>
  
      <div class="center">
        <p id="toggled" style="font-size: medium;">Its_Henrico mode on</p>
        <script>
            var henricoMode = true
            document.getElementById("button").addEventListener("click", toggleMode);
            function toggleMode() {
                if (henricoMode == true) {
                    document.getElementById("mode").href = "/css/altStyle.css";
                    document.getElementById("toggled").textContent = "Its_Henrico mode off"
                    henricoMode = false;
                }
                else {
                    document.getElementById("mode").href = "/css/style.css";
                    document.getElementById("toggled").textContent = "Its_Henrico mode on"
                    henricoMode = true;
                }
            }
            </script>
          <div class="container">
              <div class="items" id="item1"><a class="items3" style="text-decoration: none;" href="/burgrik">Burgrik</a></div>
              <div class="items" id="item2"><a class="items3" style="text-decoration: none;" href="/remember">Ablin</a></div>
              <div class="items" id="item3"><a class="items3" style="text-decoration: none;" href="/dunk">Dunken</a></div>
              <div class="ItemShadow">-</div>
              <div class="ItemShadow">-</div>
              <div class="ItemShadow">-</div>
          </div>
      </div>
  </body>
</main>
{% endblock %}