{% block content %}
<main>
    <head>
        <link rel="stylesheet" href="/css/style.css" id="mode">
        <link rel="stylesheetalt" href="/css/altStyle.css">
    </head>
    <body>
        <div class="topbar">
            <h1>Albin, kommer leva vidare i våra hjärtan <img src="/img/channels4_profile.jpg" alt="enrico" id="button" width="50vh"></h1>
        </div>
        <div class="shadow">-</div>

        <div class="center">
            <p id="toggled" style="font-size: medium;">Its_Henrico mode on</p>
            <script>
                var henricoMode = true
                document.getElementById("button").addEventListener("click", toggleMode);
                function toggleMode() {
                    if (henricoMode == true) {
                        document.getElementById("mode").href = "/css/altStyle.css";
                        document.getElementById("toggled").textContent = "Its_Henrico mode off"
                        henricoMode = false;
                    }
                    else {
                        document.getElementById("mode").href = "/css/style.css";
                        document.getElementById("toggled").textContent = "Its_Henrico mode on"
                        henricoMode = true;
                    }
                }
                </script>
            <div class="container2">
                <div class="items"><img src="/img/20240913_171255.jpg" alt="ablin" width="200vh"></div>
                <div class="items" style="padding: 4%; font-size:80%;"><p>Albin var en man med höga ambitioner och förra året gick han tyvärr bort... till en annan skola. Vi kommer aldrig att glömma dig, Albin.</p></div>
                <div class="ItemShadow">-</div>
                <div class="ItemShadow">-</div>
            </div>
        </div>
    </body>
</main>
{% endblock %}