body {
    padding: 0;
    margin: 0;
    font-size: 2rem;
    height: 100vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(136, 0, 0);
}

h1 {
    padding: 0;
    margin: 0;
}

.center {
    display: grid;
    place-items: center;
    padding: 0;
    margin: 0;
    margin-top: 3%;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(136, 0, 0);
}

html {
    padding: 0;
    margin: 0;
}

main {
    min-width: 80vh;
    min-height: 80vh;
}

.container {
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 250px 250px 250px;
    min-width: 80vh;
    max-height: 35vh;
    padding: 0;
    margin: 0;
}

.container2 {
    display: grid;
    grid-template-rows: 490px 490px;
    grid-template-columns: 250px 250px;
    min-width: fit-content;
    max-height: 35vh;
    padding: 0;
    margin: 0;
}

.items {
    display: grid;
    place-items: center;
    color: rgb(136, 0, 0);
    background-color: black;
    border: solid rgb(136, 0, 0);
    border-bottom: transparent;
    margin-top: 5%;
}

.topbar {
    text-align: center;
    overflow: hidden;
    background-color: black;
    color: rgb(159, 0, 0);
    max-height: 11vh;
    padding: 0;
    margin: 0;
  }

  .shadow {
    text-align: center;
    overflow: hidden;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgba(0, 0, 0, 0);
    max-height: 3vh;
    padding: 0;
    margin: 0;
  }

  .ItemShadow {
    text-align: center;
    overflow: hidden;
    background-color: rgba(1, 1, 1, 0.2);
    color: rgba(0, 0, 0, 0);
    border-left: solid rgb(136, 0, 0);
    border-right: solid rgb(136, 0, 0);
    max-height: 5vh;
    padding: 0;
    margin: 0;
  }